[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-core = "*"
azure-functions = "*"
azure-cosmos = "*"
selenium = "*"
loguru = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
